.itemContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.itemName{
    text-align: left;
}
.MuiButtonGroup-groupedContainedHorizontal:not(:last-child){
    border-right: 1px solid black;
}
.infoButton {
    background-color: green;
}